@-webkit-keyframes leftpic
{
    0% {transform: translate(-280px);}
    25% {transform: translate(-280px);}
    100% {transform: translate(0px);}
}

@-webkit-keyframes rightpic
{
	0% {transform: translate(280px);}
    25% {transform: translate(280px);}
    100% {transform: translate(0px);}
}

@-webkit-keyframes fadein
{
	0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #e8e8e8;
    color: #2d2d2d;
    -webkit-animation: fadein 2s;
}

div.section
{
    margin-top: 50px;
    margin-bottom: 50px;
}

h2
{
    margin-top: 20px;
    font-size: 150%;
}
p
{
    margin-bottom: 20px;
}
figure
{
    margin-top: 20px;
    margin-bottom: 20px;
}
figure.leftfigure
{
    -webkit-animation: leftpic 1s;
}
figure.rightfigure
{
    -webkit-animation: rightpic 1s;
}
figure.clickable
{
    -webkit-transition: all 0.3s;
}
figure.clickable:hover
{
    -webkit-transform: scale(1.05);
}

a.pic-link
{
    text-decoration: none;
    color: #2d2d2d;
}
a.hyp
{
    text-decoration: none;
    color: #88774f;
}
a.hyp:hover
{
    color: #b09f81;
}
a.hyp:active
{
    color: #b09f81;
}
div.back-to-top a
{
    font-size: 200%;
}

img
{
    border-radius: 60px;
    box-shadow: 4px 4px 10px #3d3d3d;
    display: block;
    margin: 0 auto;
}
figcaption
{
    text-align: center;
    margin-top: 9px;
}

nav
{
    background-color: #2d2d2d;
}
a.navbar-text
{
    color: #c4b38b;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 130%;
    padding-top: 0;
    padding-bottom: 0;
}
a.navbar-text:hover
{
    color: #ecdbb3;
}
a.navbar-text:active
{
    color: #ecdbb3;
}
span.navbar-toggler-icon div
{
  width: 30px;
  height: 3px;
  background-color: #c4b38b;
  margin: 5px;
}